<div class="container">
          
    <nav class="navbar navbar-expand-md  px-0  py-4 ">
      <!-- 左側 -->
        <div class="d-flex justify-content-center align-items-center">
            <a href="#">
                <img class="logo-img" src="../assets/images/logo.png" alt="公司logo" >
            </a>
            <p class="logo-1 yeseva-tc-one ms-4 me-1 d-none d-lg-block">7TAO</p>
            <p class="logo-2 noto-tc-serif me-5 d-none d-lg-block">活動訂票網</p>

            <div class="search-box d-flex justify-content-between ms-4-1 ms-lg-0"> 
                <input class="ps-4 bg-beige noto-tc-serif" type="text"  placeholder="探索活動">
                <button class="border-start-0 bg-main" type="button" >
                    <i class="icofont-search-1 text-minor"></i>
                </button>
            </div>
        </div>

      <!-- 縮和按鈕 -->
      <button class="nav-btn navbar-toggler border border-main " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- 右側 -->
        <div class=" collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav-list ms-auto  text-center d-md-flex justify-content-center align-items-center mt-5 ps-0 mt-md-0">

                <li class="nav-list__item me-md-4 py-2 py-md-0" >
                    <a href="#" class="link-dark">
                        <i class="icofont-ui-file"></i>
                        <span class="listitem_span yeseva-tc-one" >REGISTER</span>
                    </a>
                </li>

                <li class="nav-list__item py-2 py-md-0">
                    <a href="#" class="link-dark">
                        <i class="icofont-ui-user"></i>
                        <span class="listitem_span yeseva-tc-one" >LOGIN</span>
                    </a>
                </li>

            </ul>
        </div>

    </nav>

</div>