.link-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 24px;
}
.link-btn:hover{
    border-top: none !important;
    border-bottom: none !important;
    >span{
        color:white;
    }
    background-color: #000000;
}

.link-btn::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 4px;
    height: 100%;
    border-left: 4px solid #000000;
}
.link-btn:hover::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 4px;
    height: 100%;
    border-left: 4px solid $minor;
}

/*
    另解:不需用 偽元素

    html結構:
    <ul>
        <li>競賽</li>
        <li>科技</li>
        <li>有趣</li>
    </ul>


    scss結構:
    ul {
        display: flex;
        gap: 16px;
        margin: 30px;
    }
    li {
        outline: 1px solid #000;
        border-left: 4px solid #000;
        padding: 4px 24px 4px 20px;
        &:hover {
            outline: none;
            border-left-color: #fbff22;
            color: #fff;
            background-color: #030303;
        }
    }


*/